name: Release security patch release

on:
  workflow_dispatch: { }
  schedule:
    - cron: "0 4 */2 * *"

permissions:
  contents: read

jobs:
  release-security-patch-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: '0'  # required by anothrNick/github-tag-action
      - name: Download latest Linux release
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1
        with:
          repository: ${{ github.repository }}
          latest: true
          fileName: '*_linux_amd64.tar.gz'
          out-file-path: 'latest-release'  # auto-creates the folder
          preRelease: false
          extract: true
      - name: Scan Linux release for vulnerabilities
        id: scan_latest_release
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v6
        with:
          path: "latest-release"
          fail-build: true
          severity-cutoff: negligible
          output-format: table
        continue-on-error: true

      # If we found vulnerabilities, create a build for the default branch, where the vulnerabilities might be fixed
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version-file: go.mod
        if: steps.scan_latest_release.outcome == 'failure'

      - name: Verify dependencies
        run: go mod verify
        if: steps.scan_latest_release.outcome == 'failure'

      - name: Build
        run: mkdir latest-build && go build -o latest-build/knx-exporter main.go
        if: steps.scan_latest_release.outcome == 'failure'

      - name: Scan built Linux binary for vulnerabilities
        id: scan_latest_build
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v6
        with:
          path: "latest-build"
          fail-build: true
          severity-cutoff: negligible
          output-format: table
        continue-on-error: true
        if: steps.scan_latest_release.outcome == 'failure'

      # If the latest build has no vulnerabilities anymore, it makes sense to create a new patch-release automatically
      - name: Bump version and push tag
        if: steps.scan_latest_build.outcome == 'success'
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8 # 1.75.0
        env:
          # Note: we use a custom PAT, because secrets.GITHUB_TOKEN has a limitation that tags pushed with it
          # will NOT trigger workflows that are configured for "on -> push -> tags")
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          WITH_V: true
          DEFAULT_BUMP: "patch"
          FORCE_WITHOUT_CHANGES: true
